<h4>Internal server error - refreshing this page will make the error dissapear</h4>
<ng-container>
    <h5 class='text-danger'>Error: {{error.message}}</h5>
    <p class="font-weight0bold">Note : dont blame angular</p>
    <p>
        what to do next ?
    </p>
    <ol>
            <li>
                open chrome dev tools
            </li> 
            <li>
                Inspect the error
            </li> 
            <li>
                Check the network
            </li> 
            <li>
                Examine the error
            </li> 
            <li>
                Check from postman
            </li> 
    </ol>
</ng-container>
